{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Система оценивания студентов ВУЦ</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
    rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <div>
      <header>
        <div class="nav-left">
          <h1><a href="{% url 'squads' %}">Система оценивания студентов Вуц</a></h1>
        </div>

         <div class="nav-right">
          <a href="{% url 'squads' %}">Взвода</a><br>
         </div>
         <div class="nav-right">
          <a href="{% url 'teachers' %}">Преподаватели</a><br>
         </div>
         <div class="nav-right">
          <a href="{% url 'disciplines' %}">Дисциплины</a>
         </div>
          <div class="nav-right">
          <a href="{% url 'logout' %}">Выйти из системы</a>
         </div>
      </header>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>