{% extends 'base.html' %}
{% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
<title>Взвода</title>
{% block content %}
  <h1>Список взводов</h1>
  <div class="nav-right">
    <a href="{% url 'squad-create' %}">Добавить новый взвод</a><br>
  </div>
  {% if squadmodel_list %}
  <ul>
    {% for squad in squadmodel_list %}
      <li>
        <a href="{{ squad.get_absolute_url }}">{{ squad.number }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no squad.</p>
  {% endif %}
{% endblock %}