{% extends 'base.html' %}
{% block content %}
<h1>Title: {{squadmodel.number}}</h1>

<p><strong>Departament:</strong><a>{{squadmodel.departament}}</a></p>
<p><strong>Specialization:</strong><a>{{squadmodel.specialization}}</a></p>
    <div id="students">
        <div style="margin-left:20px;margin-top:20px">
            <h4>Студенты</h4>
            <table>
                <tbody>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                </tr>
                {% for student in students %}
                <tr>
                    <td>{{student.surname}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.patronymic}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}