{% extends 'base.html' %}
{% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
<title>Взвода</title>
{% block content %}
  <h1>Список взводов</h1>
  <div class="nav-right">
    <a href="{% url 'group-create' %}">Добавить новый взвод</a><br>
  </div>
  {% if groupmodel_list %}
  <ul>
    {% for group in groupmodel_list %}
      <li>
        <a href="{{ group.get_absolute_url }}">{{ group.number }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Отсутствуют взвода</p>
  {% endif %}
{% endblock %}