{% extends 'base.html' %}
{% block content %}
<h1>Номер взвода: {{groupmodel.number}}</h1>
<style type="text/css">
    table {
        border-collapse: collapse;
    }

    table th,
    table td {
        border: 1px solid #000;
    }
</style>

<p><strong>Кафедра: </strong><a>{{groupmodel.departament}}</a></p>
<p><strong>Специальность: </strong><a>{{groupmodel.specialization}}</a></p>
    <div id="students">
        <div style="margin-left:20px;margin-top:20px">
            <h4>Студенты</h4>
            <table>
                <tbody>
                <tr>
                    {% for title in titles %}
                    <td align="center">{{title}}</td>
                    {% endfor %}
                </tr>
                {% for student in students %}
                <tr>
                    {% for student_data in student %}
                    <td align="center">{{student_data}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}