{% extends 'base.html' %}
{% block content %}
<h1>Номер взвода: {{groupmodel.number}}</h1>

<p><strong>Кафедра:</strong><a>{{groupmodel.departament}}</a></p>
<p><strong>Специальность:</strong><a>{{groupmodel.specialization}}</a></p>

<button onclick="location.href='{{groupmodel.get_rating_url}}'">Журнал оценок</button> <br>
<button onclick="location.href='{{groupmodel.get_study_rating_url}}'">Рейтинг студентов по успеваемости</button> <br>
<button onclick="location.href='{{groupmodel.get_visiting_rating_url}}'">Рейтинг студентов по посещяемости</button> <br>
<button onclick="location.href='{{groupmodel.get_add_res_rating_url}}'">Рейтинг студентов по исполнению дополнительных обязанностей</button> <br>
<button onclick="location.href='{{groupmodel.get_total_rating}}'">Общий рейтинг студентов</button> <br>

 <style type="text/css">
.tabs { width: 100%; padding: 0px; margin: 0 auto; }
.tabs>input { display: none; }
.tabs>div {
    display: none;
    padding: 12px;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
}
.tabs>label {
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    border: 1px solid #C0C0C0;
    background: #E0E0E0;
    cursor: pointer;
}
.tabs>input:checked + label {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}

    table {
        border-collapse: collapse;
    }

    table th,
    table td {
        border: 1px solid #000;
    }

#tab_1:checked ~ #students,
#tab_2:checked ~ #disciplines { display: block; }
</style>
<div class="tabs">
    <input type="radio" name="inset" value="" id="tab_1" checked>
    <label for="tab_1">Студенты</label>
    <input type="radio" name="inset" value="" id="tab_2">
    <label for="tab_2">Дисциплины</label>


    <div id="students">
        <div style="margin-left:20px;margin-top:20px">
            <h4>Студенты</h4>
            <table>
                <tbody>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                </tr>
                {% for student in groupmodel.studentmodel_set.all %}
                <tr>
                    <td>{{student.surname}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.patronymic}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="disciplines">
        <div style="margin-left:20px;margin-top:20px">
            <h4>Дисциплины</h4>
            <table>
                <tbody>
                <tr>
                    <th>Название дисциплины</th>

                </tr>
                {% for discipline in groupmodel.groupdiscipline_set.all %}
                <tr>
                    <td>{{discipline.discipline.name}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<button onclick="location.href='{{groupmodel.get_edit_url}}'">Изменить взвод</button>
<button onclick="location.href='{{groupmodel.get_del_url}}'">Удалить взвод</button>
{% endblock %}